<h1>Welcome to the setup</h1>
<p>This is the first day of your bootcamp where you’ll be guided through different steps to get you ready to start the
  bootcamp.
  First, choose your character and enter your name.</p>

<div class="select-gender">
  <div class="gender-pick" data-gender="guy"><%= image_tag 'GuyFront' %><p class="select-text">I'm a guy !</p>
  </div>
  <div class="gender-pick" data-gender="girl"><%= image_tag 'GirlFront' %><p class="select-text">I'm a girl !</p>
  </div>
  <div class="gender-pick" data-gender="alien"><%= image_tag 'AlienFront' %><p class="select-text">I'm an alien !</p>
  </div>
</div>

<%= simple_form_for @student, url: batch_registrations_path(@batch.slug) do |f| %>

  <%= f.input :gender, collection: Student::GENDERS, as: :radio_buttons, wrapper_html: { class: "hidden" } %>
  <%= f.label :full_name, 'Enter your (real) name'%>
  <%= f.input :full_name, label: false %>
  <%= f.submit "Let's do this !", class: "button button-green" %>
<% end %>
