<h1>Batch dashboard</h1>

<p>
  Share this link with the students:
  <br>
  <strong><a target="_blank" href="<%= new_batch_registration_url(@batch.slug) %>"><%= new_batch_registration_url(@batch.slug) %></a></strong>
</p>

<h2>Students progression</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Completed Step</th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody>
    <% @batch.students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= (last_step = student.steps.last) ? last_step['title'] : 'No step completed yet' %></td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: <%= completion_percentage(student.steps.count, @total_steps)%>%" aria-valuenow="<%= student.steps.count %>" aria-valuemin="0" aria-valuemax="<%= @total_steps %>"></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
